@keyframes rollin {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

.rollin {
	transform: translateX(-1000em);
	opacity: 0;
	animation: rollin 2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

@keyframes movein {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: none;
	}
}

.movein {
	animation: movein 1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}