html {
  background: #0b0c07;
}

.acolor {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 2em;
  font-size: 2em;
}

.abc-r-0 {
  /* Красные Корни */
  background-color: #812200;
}

.abc-r {
  /* Цветочный Горшок */
  background-color: #9f390c;
}

.abc-r-1 {
  /* Мягкая Глина */
  background-color: #c76a36;
}

.abc-r-2 {
  /* Красный Песок */
  background-color: #d38453;
}

.abc-g-0 {
  /* Мокрая Мята */
  background-color: #274d41;
}

.abc-g {
  /* Сочный Кактус */
  background-color: #3a5b49;
}

.abc-g-1 {
  /* Молодой Лист */
  background-color: #527650;
}

.abc-g-2 {
  /* Свежий Лист */
  background-color: #648559;
}

.abc-b-0 {
  /* Десять Вечера */
  background-color: #0b3362;
}

.abc-b {
  /* Теплые Сумерки */
  background-color: #213d6e;
}

.abc-b-1 {
  /* Ясный Звездопад */
  background-color: #184c87;
}

.abc-b-2 {
  /* Высокое Небо */
  background-color: #215999;
}

.abc-p-0 {
  /* Терпкий Виноград */
  background-color: #232137;
}

.abc-p {
  /* Лист Базилика */
  background-color: #383349;
}

.abc-p-1 {
  /* Сок Черники */
  background-color: #3c3b5b;
}

.abc-p-2 {
  /* Цветущая Сирень */
  background-color: #424163;
}

.abc-d {
  /* Текучий Черный */
  background-color: #0b0c07;
}

.abc-d-1 {
  /* Стрелка Часов */
  background-color: #191a15;
}

.abc-l {
  /* Тающий Лед */
  background-color: #afb3bf;
}

.abc-l-1 {
  /* Чистый Снег */
  background-color: #cdcbcf;
}

.ac-r-0 {
  /* Красные Корни */
  color: #812200;
}

.ac-r {
  /* Цветочный Горшок */
  color: #9f390c;
}

.ac-r-1 {
  /* Мягкая Глина */
  color: #c76a36;
}

.ac-r-2 {
  /* Красный Песок */
  color: #d38453;
}

.ac-g-0 {
  /* Мокрая Мята */
  color: #274d41;
}

.ac-g {
  /* Сочный Кактус */
  color: #3a5b49;
}

.ac-g-1 {
  /* Молодой Лист */
  color: #527650;
}

.ac-g-2 {
  /* Свежий Лист */
  color: #648559;
}

.ac-b-0 {
  /* Десять Вечера */
  color: #0b3362;
}

.ac-b {
  /* Теплые Сумерки */
  color: #213d6e;
}

.ac-b-1 {
  /* Ясный Звездопад */
  color: #184c87;
}

.ac-b-2 {
  /* Высокое Небо */
  color: #215999;
}

.ac-p-0 {
  /* Терпкий Виноград */
  color: #232137;
}

.ac-p {
  /* Лист Базилика */
  color: #383349;
}

.ac-p-1 {
  /* Сок Черники */
  color: #3c3b5b;
}

.ac-p-2 {
  /* Цветущая Сирень */
  color: #424163;
}

.ac-d {
  /* Текучий Черный */
  color: #0b0c07;
}

.ac-d-1 {
  /* Стрелка Часов */
  color: #191a15;
}

.ac-l {
  /* Тающий Лед */
  color: #afb3bf;
}

.ac-l-1 {
  /* Чистый Снег */
  color: #cdcbcf;
}

.abcl-r {
  background: linear-gradient(90deg, #812200, #9f390c, #c76a36, #d38453);
}

.abcl-g {
  background: linear-gradient(90deg, #274d41, #3a5b49, #527650, #648559);
}

.abcl-b {
  background: linear-gradient(90deg, #0b3362, #213d6e, #184c87, #215999);
}

.abcl-p {
  background: linear-gradient(90deg, #232137, #383349, #3c3b5b, #424163);
}