@import url('https://fonts.googleapis.com/css?family=Cuprum:700&subset=cyrillic');

* {
	font-family: 'Cuprum', sans-serif !important;
	font-weight: bold;
	text-rendering: optimizeSpeed !important;
	word-wrap: break-word;
}

.atext-1{font-size: calc(1em / 15);}
.atext-2{font-size: calc(2em / 15);}
.atext-3{font-size: calc(3em / 15);}
.atext-4{font-size: calc(4em / 15);}
.atext-5{font-size: calc(5em / 15);}
.atext-6{font-size: calc(6em / 15);}
.atext-7{font-size: calc(7em / 15);}
.atext-8{font-size: calc(8em / 15);}
.atext-9{font-size: calc(9em / 15);}
.atext-10{font-size: calc(10em / 15);}
.atext-11{font-size: calc(11em / 15);}
.atext-12{font-size: calc(12em / 15);}
.atext-13{font-size: calc(13em / 15);}
.atext-14{font-size: calc(14em / 15);}
.atext-15{font-size: calc(15em / 15);}
.atext-16{font-size: calc(16em / 15);}
.atext-17{font-size: calc(17em / 15);}
.atext-18{font-size: calc(18em / 15);}
.atext-19{font-size: calc(19em / 15);}
.atext-20{font-size: calc(20em / 15);}
.atext-21{font-size: calc(21em / 15);}
.atext-22{font-size: calc(22em / 15);}
.atext-23{font-size: calc(23em / 15);}
.atext-24{font-size: calc(24em / 15);}
.atext-25{font-size: calc(25em / 15);}
.atext-26{font-size: calc(26em / 15);}
.atext-27{font-size: calc(27em / 15);}
.atext-28{font-size: calc(28em / 15);}
.atext-29{font-size: calc(29em / 15);}
.atext-30{font-size: calc(30em / 15);}
.atext-31{font-size: calc(31em / 15);}
.atext-32{font-size: calc(32em / 15);}
.atext-33{font-size: calc(33em / 15);}
.atext-34{font-size: calc(34em / 15);}
.atext-35{font-size: calc(35em / 15);}
.atext-36{font-size: calc(36em / 15);}
.atext-37{font-size: calc(37em / 15);}
.atext-38{font-size: calc(38em / 15);}
.atext-39{font-size: calc(39em / 15);}
.atext-40{font-size: calc(40em / 15);}
.atext-41{font-size: calc(41em / 15);}
.atext-42{font-size: calc(42em / 15);}
.atext-43{font-size: calc(43em / 15);}
.atext-44{font-size: calc(44em / 15);}
.atext-45{font-size: calc(45em / 15);}
.atext-46{font-size: calc(46em / 15);}
.atext-47{font-size: calc(47em / 15);}
.atext-48{font-size: calc(48em / 15);}
.atext-49{font-size: calc(49em / 15);}
.atext-50{font-size: calc(50em / 15);}
.atext-51{font-size: calc(51em / 15);}
.atext-52{font-size: calc(52em / 15);}
.atext-53{font-size: calc(53em / 15);}
.atext-54{font-size: calc(54em / 15);}
.atext-55{font-size: calc(55em / 15);}
.atext-56{font-size: calc(56em / 15);}
.atext-57{font-size: calc(57em / 15);}
.atext-58{font-size: calc(58em / 15);}
.atext-59{font-size: calc(59em / 15);}
.atext-60{font-size: calc(60em / 15);}
.atext-61{font-size: calc(61em / 15);}
.atext-62{font-size: calc(62em / 15);}
.atext-63{font-size: calc(63em / 15);}
.atext-64{font-size: calc(64em / 15);}
.atext-65{font-size: calc(65em / 15);}
.atext-66{font-size: calc(66em / 15);}
.atext-67{font-size: calc(67em / 15);}
.atext-68{font-size: calc(68em / 15);}
.atext-69{font-size: calc(69em / 15);}
.atext-70{font-size: calc(70em / 15);}
.atext-71{font-size: calc(71em / 15);}
.atext-72{font-size: calc(72em / 15);}
.atext-73{font-size: calc(73em / 15);}
.atext-74{font-size: calc(74em / 15);}
.atext-75{font-size: calc(75em / 15);}
.atext-76{font-size: calc(76em / 15);}
.atext-77{font-size: calc(77em / 15);}
.atext-78{font-size: calc(78em / 15);}
.atext-79{font-size: calc(79em / 15);}
.atext-80{font-size: calc(80em / 15);}
.atext-81{font-size: calc(81em / 15);}
.atext-82{font-size: calc(82em / 15);}
.atext-83{font-size: calc(83em / 15);}
.atext-84{font-size: calc(84em / 15);}
.atext-85{font-size: calc(85em / 15);}
.atext-86{font-size: calc(86em / 15);}
.atext-87{font-size: calc(87em / 15);}
.atext-88{font-size: calc(88em / 15);}
.atext-89{font-size: calc(89em / 15);}
.atext-90{font-size: calc(90em / 15);}
.atext-91{font-size: calc(91em / 15);}
.atext-92{font-size: calc(92em / 15);}
.atext-93{font-size: calc(93em / 15);}
.atext-94{font-size: calc(94em / 15);}
.atext-95{font-size: calc(95em / 15);}
.atext-96{font-size: calc(96em / 15);}
.atext-97{font-size: calc(97em / 15);}
.atext-98{font-size: calc(98em / 15);}
.atext-99{font-size: calc(99em / 15);}
.atext-100{font-size: calc(100em / 15);}
.atext-101{font-size: calc(101em / 15);}
.atext-102{font-size: calc(102em / 15);}
.atext-103{font-size: calc(103em / 15);}
.atext-104{font-size: calc(104em / 15);}
.atext-105{font-size: calc(105em / 15);}
.atext-106{font-size: calc(106em / 15);}
.atext-107{font-size: calc(107em / 15);}
.atext-108{font-size: calc(108em / 15);}
.atext-109{font-size: calc(109em / 15);}
.atext-110{font-size: calc(110em / 15);}
.atext-111{font-size: calc(111em / 15);}
.atext-112{font-size: calc(112em / 15);}
.atext-113{font-size: calc(113em / 15);}
.atext-114{font-size: calc(114em / 15);}
.atext-115{font-size: calc(115em / 15);}
.atext-116{font-size: calc(116em / 15);}
.atext-117{font-size: calc(117em / 15);}
.atext-118{font-size: calc(118em / 15);}
.atext-119{font-size: calc(119em / 15);}
.atext-120{font-size: calc(120em / 15);}
.atext-121{font-size: calc(121em / 15);}
.atext-122{font-size: calc(122em / 15);}
.atext-123{font-size: calc(123em / 15);}
.atext-124{font-size: calc(124em / 15);}
.atext-125{font-size: calc(125em / 15);}
.atext-126{font-size: calc(126em / 15);}
.atext-127{font-size: calc(127em / 15);}
.atext-128{font-size: calc(128em / 15);}
.atext-129{font-size: calc(129em / 15);}
.atext-130{font-size: calc(130em / 15);}
.atext-131{font-size: calc(131em / 15);}
.atext-132{font-size: calc(132em / 15);}
.atext-133{font-size: calc(133em / 15);}
.atext-134{font-size: calc(134em / 15);}
.atext-135{font-size: calc(135em / 15);}
.atext-136{font-size: calc(136em / 15);}
.atext-137{font-size: calc(137em / 15);}
.atext-138{font-size: calc(138em / 15);}
.atext-139{font-size: calc(139em / 15);}
.atext-140{font-size: calc(140em / 15);}
.atext-141{font-size: calc(141em / 15);}
.atext-142{font-size: calc(142em / 15);}
.atext-143{font-size: calc(143em / 15);}
.atext-144{font-size: calc(144em / 15);}

.atext-ind-s {
	padding: .3em .3em;
	margin: 0;
}

.atext-ind-m {
	padding: .8em .3em;
	margin: 0;
}

.atext-ind-l {
	padding: 1.3em .3em;
	margin: 0;
}

.atext-right {
	text-align: right;
}

.atext-left {
	text-align: left;
}

.atext-center {
	text-align: center;
}

.atext-justify {
	text-align: justify;
	text-align-last: right;
}

.atext-justify-force {
	text-align: justify;
}

.atext-nowrap {
	word-wrap: normal;
}

ul > li {
	list-style-type: disc;
	list-style-position: inside;
}

a {
	text-decoration: none;
	color: inherit;
}

.atext-u {
	text-decoration: line-through;
}