html {
    background: #111;
}

header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.5) 100%), url(http://bestanimations.com/Nature/clouds-floating-over-himalaya-mountains-animated-gif.gif) 0 0 repeat;
    background-position: 49% 49%;
    background-repeat: no-repeat;
    background-size: cover;
}

#pic1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.5) 100%), url(https://source.unsplash.com/user/kiselevnikolay/likes/1600x900) 0 0 repeat;
    background-position: 49% 49%;
    background-repeat: no-repeat;
    background-size: cover;
}

#pic2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.5) 100%), url(https://source.unsplash.com/user/kiselevnikolay/likes/1601x901) 0 0 repeat;
    background-position: 49% 49%;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    border: 0.1em solid #000;
    background-color: #222;
    background-position: 50% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5em;
    padding: 1em;
    transition: all 0.1s linear;
}