/* background: url(https://source.unsplash.com/5IHz5WhosQE/1600x900) no-repeat 50% 50%; */

.no-marg {
	margin: 0 0 !important;
}

div.wrapper {
    display: block;
    flex-direction: column;
    widows: 100vw;
    height: 100vh;
}
