article, aside, div, footer, header, nav, section {
	display: flex;
}

.sticky {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.wrap {
	flex-wrap: wrap;
}

.flex-cen {
	justify-content: center;
}

.flex-sta {
	justify-content: flex-start;
}

.flex-end {
	justify-content: flex-end;
}

.flex-str {
	justify-content: stretch;
}

.flex-bas {
	justify-content: baseline;
}

.flex-aro {
	justify-content: space-around;
}

.flex-bet {
	justify-content: space-between;
}

.ai-cen {
	align-items: center;
}

.ai-sta {
	align-items: flex-start;
}

.ai-end {
	align-items: flex-end;
}

.ai-str {
	align-items: stretch;
}

.ai-bas {
	align-items: baseline;
}

.ac-cen {
	align-content: center;
}

.ac-sta {
	align-content: flex-start;
}

.ac-end {
	align-content: flex-end;
}

.ac-str {
	align-content: stretch;
}

.ac-aro {
	align-content: space-around;
}

.ac-bet {
	align-content: space-between;
}

.row {
	flex-direction: row;
}

.col {
    flex-direction: column;
}

.g1x1 {width: 100.0%;}
.g1x2 {width: 50.0%;}
.g1x3 {width: 33.333333333333336%;}
.g1x4 {width: 25.0%;}
.g1x5 {width: 20.0%;}
.g1x6 {width: 16.666666666666668%;}
.g1x7 {width: 14.285714285714286%;}
.g1x8 {width: 12.5%;}
.g1x9 {width: 11.11111111111111%;}
.g1x10 {width: 10.0%;}
.g1x11 {width: 9.090909090909092%;}
.g1x12 {width: 8.333333333333334%;}
.g1x13 {width: 7.6923076923076925%;}
.g1x14 {width: 7.142857142857143%;}
.g1x15 {width: 6.666666666666667%;}
.g1x16 {width: 6.25%;}
.g1x17 {width: 5.882352941176471%;}
.g1x18 {width: 5.555555555555555%;}
.g1x19 {width: 5.2631578947368425%;}
.g1x20 {width: 5.0%;}
.g2x2 {width: 100.0%;}
.g2x3 {width: 66.66666666666667%;}
.g2x4 {width: 50.0%;}
.g2x5 {width: 40.0%;}
.g2x6 {width: 33.333333333333336%;}
.g2x7 {width: 28.571428571428573%;}
.g2x8 {width: 25.0%;}
.g2x9 {width: 22.22222222222222%;}
.g2x10 {width: 20.0%;}
.g2x11 {width: 18.181818181818183%;}
.g2x12 {width: 16.666666666666668%;}
.g2x13 {width: 15.384615384615385%;}
.g2x14 {width: 14.285714285714286%;}
.g2x15 {width: 13.333333333333334%;}
.g2x16 {width: 12.5%;}
.g2x17 {width: 11.764705882352942%;}
.g2x18 {width: 11.11111111111111%;}
.g2x19 {width: 10.526315789473685%;}
.g2x20 {width: 10.0%;}
.g3x3 {width: 100.0%;}
.g3x4 {width: 75.0%;}
.g3x5 {width: 60.0%;}
.g3x6 {width: 50.0%;}
.g3x7 {width: 42.85714285714286%;}
.g3x8 {width: 37.5%;}
.g3x9 {width: 33.33333333333333%;}
.g3x10 {width: 30.0%;}
.g3x11 {width: 27.272727272727273%;}
.g3x12 {width: 25.0%;}
.g3x13 {width: 23.076923076923077%;}
.g3x14 {width: 21.42857142857143%;}
.g3x15 {width: 20.0%;}
.g3x16 {width: 18.75%;}
.g3x17 {width: 17.647058823529413%;}
.g3x18 {width: 16.666666666666664%;}
.g3x19 {width: 15.789473684210527%;}
.g3x20 {width: 15.0%;}
.g4x4 {width: 100.0%;}
.g4x5 {width: 80.0%;}
.g4x6 {width: 66.66666666666667%;}
.g4x7 {width: 57.142857142857146%;}
.g4x8 {width: 50.0%;}
.g4x9 {width: 44.44444444444444%;}
.g4x10 {width: 40.0%;}
.g4x11 {width: 36.36363636363637%;}
.g4x12 {width: 33.333333333333336%;}
.g4x13 {width: 30.76923076923077%;}
.g4x14 {width: 28.571428571428573%;}
.g4x15 {width: 26.666666666666668%;}
.g4x16 {width: 25.0%;}
.g4x17 {width: 23.529411764705884%;}
.g4x18 {width: 22.22222222222222%;}
.g4x19 {width: 21.05263157894737%;}
.g4x20 {width: 20.0%;}
.g5x5 {width: 100.0%;}
.g5x6 {width: 83.33333333333334%;}
.g5x7 {width: 71.42857142857143%;}
.g5x8 {width: 62.5%;}
.g5x9 {width: 55.55555555555556%;}
.g5x10 {width: 50.0%;}
.g5x11 {width: 45.45454545454546%;}
.g5x12 {width: 41.66666666666667%;}
.g5x13 {width: 38.46153846153846%;}
.g5x14 {width: 35.714285714285715%;}
.g5x15 {width: 33.333333333333336%;}
.g5x16 {width: 31.25%;}
.g5x17 {width: 29.411764705882355%;}
.g5x18 {width: 27.77777777777778%;}
.g5x19 {width: 26.315789473684212%;}
.g5x20 {width: 25.0%;}
.g6x6 {width: 100.0%;}
.g6x7 {width: 85.71428571428572%;}
.g6x8 {width: 75.0%;}
.g6x9 {width: 66.66666666666666%;}
.g6x10 {width: 60.0%;}
.g6x11 {width: 54.54545454545455%;}
.g6x12 {width: 50.0%;}
.g6x13 {width: 46.15384615384615%;}
.g6x14 {width: 42.85714285714286%;}
.g6x15 {width: 40.0%;}
.g6x16 {width: 37.5%;}
.g6x17 {width: 35.294117647058826%;}
.g6x18 {width: 33.33333333333333%;}
.g6x19 {width: 31.578947368421055%;}
.g6x20 {width: 30.0%;}
.g7x7 {width: 100.0%;}
.g7x8 {width: 87.5%;}
.g7x9 {width: 77.77777777777777%;}
.g7x10 {width: 70.0%;}
.g7x11 {width: 63.63636363636364%;}
.g7x12 {width: 58.333333333333336%;}
.g7x13 {width: 53.84615384615385%;}
.g7x14 {width: 50.0%;}
.g7x15 {width: 46.66666666666667%;}
.g7x16 {width: 43.75%;}
.g7x17 {width: 41.1764705882353%;}
.g7x18 {width: 38.888888888888886%;}
.g7x19 {width: 36.8421052631579%;}
.g7x20 {width: 35.0%;}
.g8x8 {width: 100.0%;}
.g8x9 {width: 88.88888888888889%;}
.g8x10 {width: 80.0%;}
.g8x11 {width: 72.72727272727273%;}
.g8x12 {width: 66.66666666666667%;}
.g8x13 {width: 61.53846153846154%;}
.g8x14 {width: 57.142857142857146%;}
.g8x15 {width: 53.333333333333336%;}
.g8x16 {width: 50.0%;}
.g8x17 {width: 47.05882352941177%;}
.g8x18 {width: 44.44444444444444%;}
.g8x19 {width: 42.10526315789474%;}
.g8x20 {width: 40.0%;}
.g9x9 {width: 100.0%;}
.g9x10 {width: 90.0%;}
.g9x11 {width: 81.81818181818183%;}
.g9x12 {width: 75.0%;}
.g9x13 {width: 69.23076923076923%;}
.g9x14 {width: 64.28571428571429%;}
.g9x15 {width: 60.0%;}
.g9x16 {width: 56.25%;}
.g9x17 {width: 52.94117647058824%;}
.g9x18 {width: 50.0%;}
.g9x19 {width: 47.36842105263158%;}
.g9x20 {width: 45.0%;}
.g10x10 {width: 100.0%;}
.g10x11 {width: 90.90909090909092%;}
.g10x12 {width: 83.33333333333334%;}
.g10x13 {width: 76.92307692307692%;}
.g10x14 {width: 71.42857142857143%;}
.g10x15 {width: 66.66666666666667%;}
.g10x16 {width: 62.5%;}
.g10x17 {width: 58.82352941176471%;}
.g10x18 {width: 55.55555555555556%;}
.g10x19 {width: 52.631578947368425%;}
.g10x20 {width: 50.0%;}
.g11x11 {width: 100.00000000000001%;}
.g11x12 {width: 91.66666666666667%;}
.g11x13 {width: 84.61538461538461%;}
.g11x14 {width: 78.57142857142857%;}
.g11x15 {width: 73.33333333333334%;}
.g11x16 {width: 68.75%;}
.g11x17 {width: 64.70588235294119%;}
.g11x18 {width: 61.11111111111111%;}
.g11x19 {width: 57.89473684210527%;}
.g11x20 {width: 55.0%;}
.g12x12 {width: 100.0%;}
.g12x13 {width: 92.3076923076923%;}
.g12x14 {width: 85.71428571428572%;}
.g12x15 {width: 80.0%;}
.g12x16 {width: 75.0%;}
.g12x17 {width: 70.58823529411765%;}
.g12x18 {width: 66.66666666666666%;}
.g12x19 {width: 63.15789473684211%;}
.g12x20 {width: 60.0%;}
.g13x13 {width: 100.0%;}
.g13x14 {width: 92.85714285714286%;}
.g13x15 {width: 86.66666666666667%;}
.g13x16 {width: 81.25%;}
.g13x17 {width: 76.47058823529412%;}
.g13x18 {width: 72.22222222222221%;}
.g13x19 {width: 68.42105263157896%;}
.g13x20 {width: 65.0%;}
.g14x14 {width: 100.0%;}
.g14x15 {width: 93.33333333333334%;}
.g14x16 {width: 87.5%;}
.g14x17 {width: 82.3529411764706%;}
.g14x18 {width: 77.77777777777777%;}
.g14x19 {width: 73.6842105263158%;}
.g14x20 {width: 70.0%;}
.g15x15 {width: 100.0%;}
.g15x16 {width: 93.75%;}
.g15x17 {width: 88.23529411764707%;}
.g15x18 {width: 83.33333333333333%;}
.g15x19 {width: 78.94736842105263%;}
.g15x20 {width: 75.0%;}
.g16x16 {width: 100.0%;}
.g16x17 {width: 94.11764705882354%;}
.g16x18 {width: 88.88888888888889%;}
.g16x19 {width: 84.21052631578948%;}
.g16x20 {width: 80.0%;}
.g17x17 {width: 100.0%;}
.g17x18 {width: 94.44444444444444%;}
.g17x19 {width: 89.47368421052633%;}
.g17x20 {width: 85.0%;}
.g18x18 {width: 100.0%;}
.g18x19 {width: 94.73684210526316%;}
.g18x20 {width: 90.0%;}
.g19x19 {width: 100.0%;}
.g19x20 {width: 95.0%;}
.g20x20 {width: 100.0%;}

.m-0 {
	margin: 0;
}

.m-xs {
	margin: .25rem;
}

.m-s {
	margin: .5rem;
}

.m-n {
	margin: .75rem;
}

.m-l {
	margin: 1rem;
}

.m-xl {
	margin: 1.5rem;
}

.p-0 {
	padding: 0;
}

.p-xs {
	padding: .25rem;
}

.p-s {
	padding: .5rem;
}

.p-n {
	padding: .75rem;
}

.p-l {
	padding: 1rem;
}

.p-xl {
	padding: 1.5rem;
}

.m-s-0 {
	margin-left: 0;
	margin-right: 0;
}

.m-s-xs {
	margin-left: .25rem;
	margin-right: .25rem;
}

.m-s-s {
	margin-left: .5rem;
	margin-right: .5rem;
}

.m-s-n {
	margin-left: .75rem;
	margin-right: .75rem;
}

.m-s-l {
	margin-left: 1rem;
	margin-right: 1rem;
}

.m-s-xl {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.p-s-0 {
	padding-left: 0;
	padding-right: 0;
}

.p-s-xs {
	padding-left: .25rem;
	padding-right: .25rem;
}

.p-s-s {
	padding-left: .5rem;
	padding-right: .5rem;
}

.p-s-n {
	padding-left: .75rem;
	padding-right: .75rem;
}

.p-s-l {
	padding-left: 1rem;
	padding-right: 1rem;
}

.p-s-xl {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.m-f-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.m-f-xs {
	margin-top: .25rem;
	margin-bottom: .25rem;
}

.m-f-s {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.m-f-n {
	margin-top: .75rem;
	margin-bottom: .75rem;
}

.m-f-l {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.m-f-xl {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.p-f-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.p-f-xs {
	padding-top: .25rem;
	padding-bottom: .25rem;
}

.p-f-s {
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.p-f-n {
	padding-top: .75rem;
	padding-bottom: .75rem;
}

.p-f-l {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.p-f-xl {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}