* {
	overflow: hidden;
}

*::selection {
	background-color: #777;
}

html {
	background: #111;
}

html::-webkit-scrollbar-track {
	background-color: #111;
}

html::-webkit-scrollbar {
	width: 0.5em;
	background-color: #111;
}

html::-webkit-scrollbar-thumb {
	background-color: #222;
}

body {
  width: 80%;
	min-height: 60em;
	margin: 10%;
}

.n-unsp {
	background-image: url(https://source.unsplash.com/1000x1000);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 1em;
}