html {
	font-size: 100%;
	overflow: none;
}

body {
	background-color: #222;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
	/*overflow-y: scroll;*/
}

body * {
	transition: all 230ms ease-out;
	box-sizing: border-box;
}

header{
	display: flex;
	position: relative;
	height: 70px;
	justify-content: space-between;
	align-items: center;
}

header img {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 10px;
	left: 50vw;
	margin-left: -50px;
	margin-right: -50px;
	border-radius: 50%;
	z-index: 5;
}

header i {
	color: #444;
	margin: 1rem
}

header i:hover {
	color: #ffde20;
}

button {
	margin: .4rem;
	padding: .4rem;
	color: #444;
	border: .1rem solid #444;
	background-color: transparent;
	border-radius: 5px;
	outline: none;
}

button:hover, button:focus {
	outline: none;
	color: #ffde20;
	border: .1rem solid #ffde20;
}



img.fluid {
	width: 100%;
}

img.pj-1 {
	display: inline-flex;
	width: 90%;
	height: auto;
	padding: .4rem;
	background-color: white;
	overflow-y: scroll;
}

button.pj-1 {}

div.butholder {
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow-x: hidden;
	justify-content: space-around;
}


/* Colors */
.e-darker {
	background-color: #111;
}
.e-black {
	background-color: #000;
}


/* PLAY */
div.play.square-bar {
	display: flex;
	flex-direction: row;
	height: 25px;
}

div.play.square {
	width: 5vw;
	text-align: center;
	color: transparent;
}

div.play.square.active {
	color: #ffde20;
}

.jswake {
	opacity: 0;
	display: none;
}


/* ID */

#deTestWai {
	margin: 0;
	padding: 0;
}