/* PEN */
@import "http://fonts.fontstorage.com/import/celestina.css";
/* font-family: 'Celestina'; */

/* KID */
@import "http://fonts.fontstorage.com/import/yessireebob.css"; 
/* font-family: 'Yes siree bob'; */

/* NARK */
@import "http://fonts.fontstorage.com/import/lemontuesday.css";
/* font-family: 'Lionelofparis'; */

/* NORM */
@import "http://fonts.fontstorage.com/import/lionel.css";
/* font-family: 'Lionelofparis'; */

h1, h2, h3, h4, h5, h6, p, a {
	text-rendering: optimizeLegibility;
	margin: .3em 1em;
	color: #000000;
	font-size: 100%;
}

h1 {
	font-size: 3.5rem;
	font-family: 'Lemon Tuesday';
}

h2 {
	font-size: 3.0rem;
	font-family: 'Lemon Tuesday';
}

h3, .h-text {
	font-size: 2.4rem;
	font-family: 'Celestina';
}

h4 {
	font-size: 2.0rem;
	font-family: 'Celestina';
}

h5 {
	font-size: 1.7rem;
	font-family: 'Yes siree bob';
}

h6 {
	font-size: 1.3rem;
	font-family: 'Yes siree bob';
}

p, .text {
	font-size: 1.1rem;
	font-family: 'Lionelofparis';
	text-align: justify;
	/* word-wrap: break-word; */
}

a {
	color: #000000;
	text-decoration: underline #000000;
	text-decoration-skip: ink;
}

.no-marg {
	margin: 0 0 !important;
}

.no-decor {
	text-decoration: none;
}
