@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Serif+Caption&subset=cyrillic');

* {
	font-family: 'PT Mono', monospace;
	text-rendering: optimizeLegibility;
	transition: all 1s ease;
	user-select: none;
}

h2 {
	font-size: 300%;
	color: #fff;
	border-bottom: #fff .05em solid;
	margin-top: 3em;
}

h2::first-letter {
	font-size: 130%;
	color: #F2784B;
}

h3 {
	font-size: 240%;
	color: #fff;
	margin-top: 3em;
}

h3::first-letter {
	font-size: 130%;
	color: #F2784B;
}

h4 {
	font-size: 200%;
	color: #fff;
	margin-top: 3em;
}

h4::first-letter {
	font-size: 130%;
	color: #F2784B;
}

h5 {
	font-size: 190%;
	color: #fff;
	margin-top: 3em;
}

h5::first-letter {
	font-size: 130%;
	color: #F2784B;
}

h6 {
	font-size: 100%;
	color: #fff;
	margin-top: 3em;
}

h6::first-letter {
	font-size: 130%;
	color: #F2784B;
}

p {
	font-family: 'PT Serif Caption', serif;
	margin-top: .5em;
	line-height: 110%;	
	font-size: 140%;
	color: #fff;
	text-align: justify;
}

p::first-letter {
	font-size: 150%;
	color: #F2784B;
}

a {
	color: #fff;
	text-decoration: underline #fff;
	text-decoration-skip: ink;
}

a:hover {
	text-decoration: underline #F2784B;
	text-decoration-skip: ink;
}

.nomargin {
	margin: 0;
}