/* PEN */
@import "http://fonts.fontstorage.com/import/celestina.css";
/* font-family: 'Celestina'; */

/* KID */
@import "http://fonts.fontstorage.com/import/yessireebob.css"; 
/* font-family: 'Yes siree bob'; */

/* NARK */
@import "http://fonts.fontstorage.com/import/lemontuesday.css";
/* font-family: 'Lionelofparis'; */

/* NORM */
@import "http://fonts.fontstorage.com/import/lionel.css";
/* font-family: 'Lionelofparis'; */

h1, h2, h3, h4, h5, h6, p, a {
	text-rendering: optimizeLegibility;
	margin: .3em 1em;
	color: #000000;
}

h1 {
	font-size: 350%;
	font-family: 'Lemon Tuesday';
}

h2 {
	font-size: 300%;
	font-family: 'Lemon Tuesday';
}

h3, .head {
	font-size: 240%;
	font-family: 'Celestina';
}

h4 {
	font-size: 200%;
	font-family: 'Celestina';
}

h5 {
	font-size: 170%;
	font-family: 'Yes siree bob';
}

h6 {
	font-size: 130%;
	font-family: 'Yes siree bob';
}

p, .text {
	font-size: 120%;
	font-family: 'Lionelofparis';
	text-align: justify;
}

a {
	color: #000000;
	text-decoration: underline #000000;
	text-decoration-skip: ink;
}
