.circle {
	width: 200px;
	height: 200px;
	margin: 10pt;
	overflow: hidden;
	border-radius: 100%;
	transition: width .6s cubic-bezier(0.4, 0.0, 0.2, 1) !important;
}

.circle > * {
	width: 470px;
	margin: 10pt auto;
}

.circle > img {
	width: 500px;
	min-height: 250px;
	height: auto;
	margin: 0;
	margin-top: -50px;
	transition: all 2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.circle:focus {
	width: 500px;
	height: auto;
	border-radius: 5pt;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}

.circle:focus > img {
	width: 500px;
	height: auto;
	margin-top: 0;
	border-radius: 5pt;
}

@keyframes fade-in {
	from { opacity: 0 }
	to { opacity: 1 }
}

.wrapper-full {
	opacity: 0;
	animation-name: fade-in;
	animation-delay: .4s;
	animation-duration: .3s;
	animation-fill-mode: forwards;
}

.loadd {
	position: absolute;
	top: 0;
	margin-left: -200px;
	left: 50%;
}
