* {
	transition: all .5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.circle {
	width: 200px;
	height: 200px;
	margin: 10pt;
	overflow: hidden;
	border-radius: 200px;
	transition: all .6s cubic-bezier(0.4, 0.0, 0.2, 1) !important;
}

.circle * {
	width: 470px;
	margin: 10pt auto;
}

.circle > img {
	width: 400px;
	height: auto;
	margin: -50px 0px 0px 0px;
	transition: all .5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.circle:focus {
	width: 500px;
	height: 600px;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}

.circle:focus > img {
	width: 500px;
	margin-top: 0;
	border-radius: 5pt;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.wrapper-full {
	opacity: 0;
	animation-name: fade-in;
	animation-delay: 3.74s;
	animation-duration: .3s;
	animation-fill-mode: forwards;
}

.loadd {
	position: absolute;
	margin: -124px 0px 0px -138px;
	top: 50%;
	left: 50%;
}

@keyframes set-scroll {
	from {
		overflow: hidden;
	}
	to {
		overflow: scroll;
	}
}

body {
	overflow: hidden;
	animation-name: set-scroll;
	animation-delay: 3.74s;
	animation-fill-mode: forwards;
}