div, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: flex;
}

.wrapper {
	width: 200px;
}

.wrapper-full {
	width: 100%;
	min-height: 10px;
}

.wrap {
	flex-wrap: wrap;
}

.mat-box {
	margin: 10pt;
	border-radius: 5pt;
}

.flex-center {
	justify-content: center;
}

.flex-start {
	justify-content: flex-start;
}

.flex-end {
	justify-content: flex-end;
}

.flex-stretch {
	justify-content: stretch;
}

.flex-baseline {
	justify-content: baseline;
}

.flex-s-around {
	justify-content: space-around;
}

.flex-s-between {
	justify-content: space-between;
}

.ai-center {
	align-items: center;
}

.ai-start {
	align-items: flex-start;
}

.ai-end {
	align-items: flex-end;
}

.ai-stretch {
	align-items: stretch;
}

.ai-baseline {
	align-items: baseline;
}

.ac-center {
	align-content: center;
}

.ac-start {
	align-content: flex-start;
}

.ac-end {
	align-content: flex-end;
}

.ac-stretch {
	align-content: stretch;
}

.ac-s-around {
	align-content: space-around;
}

.ac-s-between {
	align-content: space-between;
}

/*======================================================== row ============*/

div[class*="row"] {
	flex-direction: row;
}

.row-1-1 {
	width: 100.0%;
}
.row-1-2 {
	width: 50.0%;
}
.row-1-3 {
	width: 33.333333333333336%;
}
.row-1-4 {
	width: 25.0%;
}
.row-1-5 {
	width: 20.0%;
}
.row-1-6 {
	width: 16.666666666666668%;
}
.row-1-7 {
	width: 14.285714285714286%;
}
.row-1-8 {
	width: 12.5%;
}
.row-1-9 {
	width: 11.11111111111111%;
}
.row-1-10 {
	width: 10.0%;
}
.row-2-2 {
	width: 100.0%;
}
.row-2-3 {
	width: 66.66666666666667%;
}
.row-2-4 {
	width: 50.0%;
}
.row-2-5 {
	width: 40.0%;
}
.row-2-6 {
	width: 33.333333333333336%;
}
.row-2-7 {
	width: 28.571428571428573%;
}
.row-2-8 {
	width: 25.0%;
}
.row-2-9 {
	width: 22.22222222222222%;
}
.row-2-10 {
	width: 20.0%;
}
.row-3-3 {
	width: 100.0%;
}
.row-3-4 {
	width: 75.0%;
}
.row-3-5 {
	width: 60.0%;
}
.row-3-6 {
	width: 50.0%;
}
.row-3-7 {
	width: 42.85714285714286%;
}
.row-3-8 {
	width: 37.5%;
}
.row-3-9 {
	width: 33.33333333333333%;
}
.row-3-10 {
	width: 30.0%;
}
.row-4-4 {
	width: 100.0%;
}
.row-4-5 {
	width: 80.0%;
}
.row-4-6 {
	width: 66.66666666666667%;
}
.row-4-7 {
	width: 57.142857142857146%;
}
.row-4-8 {
	width: 50.0%;
}
.row-4-9 {
	width: 44.44444444444444%;
}
.row-4-10 {
	width: 40.0%;
}
.row-5-5 {
	width: 100.0%;
}
.row-5-6 {
	width: 83.33333333333334%;
}
.row-5-7 {
	width: 71.42857142857143%;
}
.row-5-8 {
	width: 62.5%;
}
.row-5-9 {
	width: 55.55555555555556%;
}
.row-5-10 {
	width: 50.0%;
}
.row-6-6 {
	width: 100.0%;
}
.row-6-7 {
	width: 85.71428571428572%;
}
.row-6-8 {
	width: 75.0%;
}
.row-6-9 {
	width: 66.66666666666666%;
}
.row-6-10 {
	width: 60.0%;
}
.row-7-7 {
	width: 100.0%;
}
.row-7-8 {
	width: 87.5%;
}
.row-7-9 {
	width: 77.77777777777777%;
}
.row-7-10 {
	width: 70.0%;
}
.row-8-8 {
	width: 100.0%;
}
.row-8-9 {
	width: 88.88888888888889%;
}
.row-8-10 {
	width: 80.0%;
}
.row-9-9 {
	width: 100.0%;
}
.row-9-10 {
	width: 90.0%;
}
.row-10-10 {
	width: 100.0%;
}

/*======================================================== col ============*/

div[class*="col"] {
	flex-direction: column;
}

.col-1-1 {
	width: 100.0%;
}

.col-1-2 {
	width: 50.0%;
}
.col-1-3 {
	width: 33.333333333333336%;
}
.col-1-4 {
	width: 25.0%;
}
.col-1-5 {
	width: 20.0%;
}
.col-1-6 {
	width: 16.666666666666668%;
}
.col-1-7 {
	width: 14.285714285714286%;
}
.col-1-8 {
	width: 12.5%;
}
.col-1-9 {
	width: 11.11111111111111%;
}
.col-1-10 {
	width: 10.0%;
}
.col-2-2 {
	width: 100.0%;
}
.col-2-3 {
	width: 66.66666666666667%;
}
.col-2-4 {
	width: 50.0%;
}
.col-2-5 {
	width: 40.0%;
}
.col-2-6 {
	width: 33.333333333333336%;
}
.col-2-7 {
	width: 28.571428571428573%;
}
.col-2-8 {
	width: 25.0%;
}
.col-2-9 {
	width: 22.22222222222222%;
}
.col-2-10 {
	width: 20.0%;
}
.col-3-3 {
	width: 100.0%;
}
.col-3-4 {
	width: 75.0%;
}
.col-3-5 {
	width: 60.0%;
}
.col-3-6 {
	width: 50.0%;
}
.col-3-7 {
	width: 42.85714285714286%;
}
.col-3-8 {
	width: 37.5%;
}
.col-3-9 {
	width: 33.33333333333333%;
}
.col-3-10 {
	width: 30.0%;
}
.col-4-4 {
	width: 100.0%;
}
.col-4-5 {
	width: 80.0%;
}
.col-4-6 {
	width: 66.66666666666667%;
}
.col-4-7 {
	width: 57.142857142857146%;
}
.col-4-8 {
	width: 50.0%;
}
.col-4-9 {
	width: 44.44444444444444%;
}
.col-4-10 {
	width: 40.0%;
}
.col-5-5 {
	width: 100.0%;
}
.col-5-6 {
	width: 83.33333333333334%;
}
.col-5-7 {
	width: 71.42857142857143%;
}
.col-5-8 {
	width: 62.5%;
}
.col-5-9 {
	width: 55.55555555555556%;
}
.col-5-10 {
	width: 50.0%;
}
.col-6-6 {
	width: 100.0%;
}
.col-6-7 {
	width: 85.71428571428572%;
}
.col-6-8 {
	width: 75.0%;
}
.col-6-9 {
	width: 66.66666666666666%;
}
.col-6-10 {
	width: 60.0%;
}
.col-7-7 {
	width: 100.0%;
}
.col-7-8 {
	width: 87.5%;
}
.col-7-9 {
	width: 77.77777777777777%;
}
.col-7-10 {
	width: 70.0%;
}
.col-8-8 {
	width: 100.0%;
}
.col-8-9 {
	width: 88.88888888888889%;
}
.col-8-10 {
	width: 80.0%;
}
.col-9-9 {
	width: 100.0%;
}
.col-9-10 {
	width: 90.0%;
}
.col-10-10 {
	width: 100.0%;
}
