.bor-wrapper {
	background-image: url("http://er.ru/media/i/bg01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5%;
	width: 90%;
	height: 100%;
}

.bor-container {
	border-radius: 4pt;
	margin: 5pt 30pt;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.bor-normal {
	border-radius: 4pt;
	margin: 10pt !important;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.fotog {
	width: 100%;
	height: auto;
	border-radius: 4pt;
	margin: 10pt;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

nav {
	height: 50pt;
	line-height: 25pt;
}

footer {
	height: 200pt;
}