.bor-wrapper {
	background: black;
	background-size: cover;
	background-repeat: no-repeat;
}

.bor-container {
	border-radius: 4pt;
	margin: 10pt 30pt;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.bor-normal {
	border-radius: 4pt;
	margin: 10pt;
}

img {
	width: 100%;
	height: auto;
}

.cir {
	width: 50%;
	height: 50%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 20%;
}

.cir:hover {
	opacity: 0.5;
}

.cir-m {
	margin: -15% 0 -16% 0;
}

.cir-g {
	margin-left: -3%;
}