* {
    transition: all 0.2s ease;
}

.aamin-hover:hover {
    transition: all 20ms ease !important;
    transform: scale(1.175);
}

.aamin-hover-block {
    transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
}

.aamin-hover-block:hover {
    z-index: -100;
    box-shadow: 0 0 2em white;
}

.aanim-roll {
    transform-origin: 50% 50%;
    animation: roll 5s 1ms forwards cubic-bezier(0.075, 0.1, 0.165, 1);
}

@keyframes roll {
    from {
        transform: rotate(1000deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.aanim-show {
    opacity: 0;
    animation: showu 1s 3s forwards cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes showu {
    from {
        opacity: 0;
        transform: translate(2em);
    }
    to {
        opacity: 1;
        transform: translate(0em);
    }
}

.aanim-atom404 {
    transform-origin: 50% 50%;
    animation: er404 1s infinite linear;
}

@keyframes er404 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.aanim-dev-hub * {
    animation: blink-dev-hub 1s 3s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes blink-dev-hub {
    0% {
        text-shadow: none;
    }
    50% {
        text-shadow: 0 0 1em white;
    }
    100% {
        text-shadow: none;
    }
}