* {
    transition: all 0.2s ease;
}

.aamin-hover:hover {
    transform: scale(1.175);
}

.aamin-hover-block:hover {
    font-size: 140%;
    z-index: 323;
}

.aanim-roll {
    transform-origin: 50% 50%;
    animation: roll 5s 1ms forwards cubic-bezier(0.075, 0.1, 0.165, 1);
}

@keyframes roll {
    from {
        transform: rotate(1000deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.aanim-show {
    opacity: 0;
    animation: showu 1s 3s forwards cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes showu {
    from {
        opacity: 0;
        transform: translate(2em);
    }
    to {
        opacity: 1;
        transform: translate(0em);
    }
}

.aanim-atom404 {
    transform-origin: 50% 50%;
    animation: er404 1s infinite linear;
}

@keyframes er404 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}