div, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: flex;
	overflow: hidden;
}

footer {
	padding-bottom: 6em;
}

.wrapper {
	width: 100%;
	min-height: 10px;
}

.wrap {
	flex-wrap: wrap;
}

.margin-center {
	margin: 0 auto;
}

.flex-center {
	justify-content: center;
}

.flex-start {
	justify-content: flex-start;
}

.flex-end {
	justify-content: flex-end;
}

.flex-stretch {
	justify-content: stretch;
}

.flex-baseline {
	justify-content: baseline;
}

.flex-s-around {
	justify-content: space-around;
}

.flex-s-between {
	justify-content: space-between;
}

.ai-center {
	align-items: center;
}

.ai-start {
	align-items: flex-start;
}

.ai-end {
	align-items: flex-end;
}

.ai-stretch {
	align-items: stretch;
}

.ai-baseline {
	align-items: baseline;
}

.ac-center {
	align-content: center;
}

.ac-start {
	align-content: flex-start;
}

.ac-end {
	align-content: flex-end;
}

.ac-stretch {
	align-content: stretch;
}

.ac-s-around {
	align-content: space-around;
}

.ac-s-between {
	align-content: space-between;
}

.row {
	flex-direction: row;
}

.col {
    flex-direction: column;
}

.apart-1-1 {width: 100.0%;}
.apart-1-2 {width: 50.0%;}
.apart-1-3 {width: 33.3333333333%;}
.apart-1-4 {width: 25.0%;}
.apart-1-5 {width: 20.0%;}
.apart-1-6 {width: 16.6666666667%;}
.apart-1-7 {width: 14.2857142857%;}
.apart-1-8 {width: 12.5%;}
.apart-1-9 {width: 11.1111111111%;}
.apart-1-10 {width: 10.0%;}
.apart-2-2 {width: 100.0%;}
.apart-2-3 {width: 66.6666666667%;}
.apart-2-4 {width: 50.0%;}
.apart-2-5 {width: 40.0%;}
.apart-2-6 {width: 33.3333333333%;}
.apart-2-7 {width: 28.5714285714%;}
.apart-2-8 {width: 25.0%;}
.apart-2-9 {width: 22.2222222222%;}
.apart-2-10 {width: 20.0%;}
.apart-3-3 {width: 100.0%;}
.apart-3-4 {width: 75.0%;}
.apart-3-5 {width: 60.0%;}
.apart-3-6 {width: 50.0%;}
.apart-3-7 {width: 42.8571428571%;}
.apart-3-8 {width: 37.5%;}
.apart-3-9 {width: 33.3333333333%;}
.apart-3-10 {width: 30.0%;}
.apart-4-4 {width: 100.0%;}
.apart-4-5 {width: 80.0%;}
.apart-4-6 {width: 66.6666666667%;}
.apart-4-7 {width: 57.1428571429%;}
.apart-4-8 {width: 50.0%;}
.apart-4-9 {width: 44.4444444444%;}
.apart-4-10 {width: 40.0%;}
.apart-5-5 {width: 100.0%;}
.apart-5-6 {width: 83.3333333333%;}
.apart-5-7 {width: 71.4285714286%;}
.apart-5-8 {width: 62.5%;}
.apart-5-9 {width: 55.5555555556%;}
.apart-5-10 {width: 50.0%;}
.apart-6-6 {width: 100.0%;}
.apart-6-7 {width: 85.7142857143%;}
.apart-6-8 {width: 75.0%;}
.apart-6-9 {width: 66.6666666667%;}
.apart-6-10 {width: 60.0%;}
.apart-7-7 {width: 100.0%;}
.apart-7-8 {width: 87.5%;}
.apart-7-9 {width: 77.7777777778%;}
.apart-7-10 {width: 70.0%;}
.apart-8-8 {width: 100.0%;}
.apart-8-9 {width: 88.8888888889%;}
.apart-8-10 {width: 80.0%;}
.apart-9-9 {width: 100.0%;}
.apart-9-10 {width: 90.0%;}
.apart-10-10 {width: 100.0%;}

/*circle*/

.a-circle {
    width: 9%;
    padding-top: 9%;
	margin: 0.5%;
	border-radius: 50%;
    position: relative;
}

.a-circle > * {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}