html {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	line-height: 2.5em;
	letter-spacing: 0.1em;
	color: #fff;
	background-color: #222;
}

body {
	margin: 0px 50px;
}

header {
	width: 100%;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: repeat;
}

nav, footer {
	background-color: #525262;
}

nav {
	height: 80px;
}

footer {
	height: 230px;
}

section {
	background-color: #EE9988;
	height: 100%;
}

article {
	background-color: #89CDBC;
	height: 100%;
}

aside {
	background-color: #999988;
}

.text {
	text-decoration: none;
	font-weight: normal;
	line-height: 1.5em;
	word-wrap: break-word;
	margin: 20px 0px 20px 0px;
	padding: 0px 40px 0px 40px;
	color: #fff;
}

.nano {
	opacity: 0.6;
	font-size: 0.4em;
	padding: 0px;
	margin: 0px 0px 0px 40px;
}

.in-text-link {
	opacity: 0.5;
	font-style: italic;
}

.on-select::selection {
	background: #eee;
}

h2 {
	font-size: 0.85em;
	font-weight: bold !important;
}

h3 {
	font-size: 0.8em;
}

p, li {
	font-size: 0.65em;
}

a {
	font-size: 0.7em;
	line-height: 80px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	margin: 5px;
	padding: 5px;
}

a:hover {
	opacity: 0.3;
}

ul {
	margin-left: 20px !important;
}

.logo {
	width: 16.666666666666%;
	opacity: 0.75;
	margin: 0;
	padding: 0;
}

.headup {
	width: 66.666666666666%;
}

.container {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.universal {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.part-1-3 {
	width: 33.333333333333%;
}

.part-2-3 {
	width: 66.666666666666%;
}

.full {
	width: 100%;
}

.col{
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.right {
	align-items: flex-end;
}

.news {
	width: 46%;
	margin: 1%;
	background-color: #fff;
	padding: 20px 0px;
	border-radius: 2%;
	opacity: 0.9;
}

.news > * {
	margin: 0px 20px;
	padding: 0;
	color: #231;
	font-weight: bold;
}

.news-grid {
	margin: 0px 2% 20px 2%;
	padding: 0;
	width: 100%;
	flex-wrap: wrap;
}

.pic-link {
	width: 100%;
	margin: 10px 0px -20px 0px;
	padding: 0px;
}

.round {
	border-radius: 2%;
}

.news-head {
	/*height: 30%;*/
}

.news-body {
	height: 30%;
}

@media screen and (max-width: 1100px) {
   body {margin: 0px 30px;}
   footer {height: 400px;}
   .logo {width: 33.333333333333%;}
   .news {width: 46%;}
   .part-1-3 {width: 100%;}
   .part-2-3 {width: 100%;}
   .mobi {flex-direction: column;}
   .nano {font-size: 0.7em;}
   h2 {font-size: 1.6em;}
   h3 {font-size: 1.5em;}
   p, li {font-size: 1.1em;}
   a {font-size: 0.7em;}
}
