@import url('https://fonts.googleapis.com/css?family=Kurale');

* {
    font-family: 'Kurale', serif !important;
}

body {
    background: url("https://images.unsplash.com/photo-1494376877685-d3d2559d4f82?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1500&amp;h=2000&amp;q=80&amp;cs=tinysrgb&amp;crop=&amp;bg=");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 3em 0em;
    cursor: pointer;
}

.c-lb {
    background-color: #303030;
    color: #a5a5a5;
}
.c-w {
    background-color: #a5a5a5;
    color: #202020;
}
.c-r {
    background-color: #765f4d;
    color: #202020;
}
.c-g {
    background-color: #326147;
    color: #202020;
}
.c-b {
    background-color: #37475a;
    color: #202020;
}

.natitem {
    border-radius: 2em;
    margin: 0.1em 0;
    text-align: center;
    user-select: none;
}

.hidden {
    opacity: 0.05;
    transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.hidden:hover {
    opacity: 0.75;
}

.lookout-point {
    height: 45em;
}

h1 {
    font-size: calc(144em / 30);
    padding: .2em 1.5em;
}
h2 {
    font-size: calc(100em / 30);
    padding: .2em .4em;
}
h3 {
    font-size: calc(80em / 30);
    padding: .2em .4em;
}
p {
    font-size: calc(30em / 30);
    padding: 1em .9em;
    text-align: justify !important;
}
h4 {
    font-size: calc(40em / 30);
    padding: .4em 1.05em;
    text-align: center !important;
}

.strch {
    margin: 3em 1.3em;
}