#menu-top {
	  background:#4E729A;
	  margin: 0 auto 0;
	  border: 1px solid rgba(0, 0, 0, 0.56);      
	  padding: 2px 12px;      
	 -webkit-border-radius: 20px;
	  text-align: left;
	}

.bg-1 {
	/*ФОН ДОП БЛОКА*/
	width: 904,5px; 
	height:64px; 
	background: #DC143C;
	-webkit-border-radius: 10px;
	padding:15px;
	margin-top: 11px;
	margin-bottom: 11px;
}
.bg-1 ul {
	margin:0; 
	padding:0; 
	list-style:none;
}
.bg-1 ul li {
	float:left; 
	padding:0 2px 0 0;
}
.bg-1 ul li a {
	/*РАБОТА С ТЕКСТОМ БЛОКА*/
	display:block; 
	height:40px; 
	padding:24px 27px 0 27px; 
	color: #FF8800;
	text-decoration:none; 
	text-transform:uppercase;
}
/*РАМКА ПРИ НАВОДКЕ*/
.bg-1 ul li a:hover {
	color:#fff; 
	background: #0095B6;
	-webkit-border-radius: 20px;
}

/*Левое меню и Контент*/
#content {
	width:1700px; 
	padding:0 auto 0; 
}
.right { 
	text-align: middle
	width:790px;
	font-family: monospace;
	font-size: 1.7em;
	margin-left: 25px; 
}

.bio {
	margin: 0 auto;
	margin-top: 95px;
	background: #4E729A;
	border-radius: 20px;
	width: 652px;
	height: 120px;
}
h1 {
	text-align: center;
	padding: 44px;
}
