.color-white {
	background-color: #F5F6F1;
	color: #222222;
}

.color-blue {
	background-color: #0F74A2;
	color: #cfcfff;
}

.color-red {
	background-color: #F25954;
	color: #ffcfcf;
}

.color-black {
	background-color: #010101;
	color: #f0f0f0;
}

.color-yellow {
	background-color: #F4CE2B;
	color: #ffffcf;
}
