.oc-t {
	width: 1200px;
	height: 1200px;
	position: relative;
	opacity: 0;
	animation: roll-in 2.3s 1s cubic-bezier(0.0, 0.0, 0.2, 1) forwards !important;
}

@keyframes roll-in {
	from {
		transform: rotate(720deg) scale(0.4);
		opacity: 0;
	}
	to {
		transform: rotate(0deg) scale(1);
		opacity: 1;
	}
}

.oh-ex {
	position: absolute;
	/*border: 1px solid gray;*/
}

.oh-ex:hover {
	transform: scale(1.1);
	z-index: 1;
}

.o1 {
	left: 593px;
	bottom: 805px;
	width: 432px;
	height: 394px;
}

.o2 {
	left: 805px;
	bottom: 543px;
	width: 394px;
	height: 482px;
}

.o3 {
	left: 805px;
	bottom: 173px;
	width: 394px;
	height: 432px;
}

.o4 {
	left: 543px;
	bottom: 0px;
	width: 482px;
	height: 394px;
}

.o5 {
	left: 173px;
	bottom: 0px;
	width: 432px;
	height: 394px;
}

.o6 {
	left: 0px;
	bottom: 173px;
	width: 394px;
	height: 482px;
}

.o7 {
	left: 0px;
	bottom: 593px;
	width: 394px;
	height: 432px;
}

.o8 {
	left: 173px;
	bottom: 805px;
	width: 482px;
	height: 394px;
}

.oA1 {
	left: 593px;
	bottom: 593px;
	width: 245px;
	height: 310px;
}

.oA2 {
	left: 593px;
	bottom: 527px;
	width: 310px;
	height: 264px;
}

.oA3 {
	left: 593px;
	bottom: 325px;
	width: 303px;
	height: 281px;
}

.oA4 {
	left: 464px;
	bottom: 294px;
	width: 271px;
	height: 310px;
}

.oA5 {
	left: 303px;
	bottom: 325px;
	width: 303px;
	height: 281px;
}

.oA6 {
	left: 295px;
	bottom: 527px;
	width: 310px;
	height: 264px;
}

.oA7 {
	left: 360px;
	bottom: 593px;
	width: 270px;
	height: 310px;
}

.ob1 {
	 border-radius: 225px 0 0 0;
}

.ob2 {
	 border-radius: 0 225px 0 0;
}

.ob3 {
	 border-radius: 0 0 225px 0;
}

.ob4 {
	 border-radius: 0 0 0 225px;
}

.obA1 {
	 border-radius: 225px 0 0 0;
}

.obA2 {
	 border-radius: 0 225px 0 0;
}

.obA3 {
	 border-radius: 0 0 225px 0;
}

.obA4 {
	 border-radius: 0 0 0 225px;
}
